 $text-color: null;
$base-color: #eddd12;
$icon-color: null;
$highlight-color: null;
$notification-color: null;
$body-background: null;
$link: null;
$link-focus: null;
$action-color: null;
$button-color: #ebdc0e;
$form-checked: null;
$menu-text: #000000;
$menu-icon: #000000;
$menu-background: null;
$menu-highlight-text: null;
$menu-highlight-icon: null;
$menu-highlight-background: #000000;
$menu-current-text: null;
$menu-current-icon: null;
$menu-current-background: null;
$menu-submenu-text: null;
$menu-submenu-background: null;
$menu-submenu-background-alt: null;
$menu-submenu-focus-text: null;
$menu-submenu-current-text: null;
$menu-bubble-text: null;
$menu-bubble-background: null;
$menu-bubble-current-text: null;
$menu-bubble-current-background: null;
$menu-collapse-text: null;
$menu-collapse-icon: null;
$menu-collapse-focus-text: null;
$menu-collapse-focus-icon: null;
$adminbar-avatar-frame: null;
$adminbar-input-background: null;
$menu-customizer-text: null;
$secondary-button-color: #000000;
