/* 
 * ARCHIVO SASS POSEE
 * CLASES DE LA PÁGINA O RELACIONADA A BLOG o ENTRADAS CSS PARA LA WEB
 */

/*
 * ENTRADAS PREVIEW
 */

.itemPostPreview
	padding : 16px 0

	//Link e imagen
	.link-to-post 
		width : 36%

	//:hover 
	&:hover 
		figure
			+animation( slidebg 10s ease-in-out )
		
	//Imagen
	.featured-image
		+transition( all 500ms ease )
		background-position: center center 
		background-repeat  : repeat-x
		background-size    : 100%
		height             : 130px 
		margin             : 0 22px 0 0
		overflow           : hidden 

	//Contenedor de Texto
	.content-text
		width : calc(64% - 22px)

		//Titulo
		h3 
			color      : #200E07
			font-size  : 20px 
			font-weight: 600
			line-height: 1em 
			margin     : 0 auto 9px
			a 
				color          : #200E07
				text-decoration: none !important
		//Parrafos
		p 
			color    : #908481
			font-size: 15px	
			margin   : 0
		//Link a post
		.link-read-more
			color      : #C82423
			display    : inline-block
			font-size  : 14px 
			font-weight: 700  

/*
 * MENÚ DE CATEGORÍAS 
 */
.menu-categories-post
	margin : 0 auto 15px
	a.item-link
		+transition( all 600ms ease )
		background     : black 
		border-bottom  : 2px solid #D6B400
		color          : white 
		display        : block 
		font-family    : "Helvetica-Condensed-Light-Light"
		font-size      : 17px 
		line-height    : 1em
		padding        : 13px 30px
		text-decoration: none !important 
		//hover and active 
		&:hover , &.active 
			color : #D6B400

/*
 * PÁGINA BLOG 
 */
#wrapperPageBlog
	
	//Modificar Items Preview de Blog
	.itemPostPreview
		border-bottom: 1px solid #D1D1D1